

/* Styles when flag is true */
.titleTrue {
    color: green;
    font-size: 2rem;
    text-align: center;
  }
  
  .infoTrue {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: darkgreen;
  }
  
  /* Styles when flag is false */
  .titleFalse {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  
  .infoFalse {
    background-color: lightcoral;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: darkred;
  }
  
  .errorMessage {
    color: red;
    font-weight: bold;
    text-align: center;
  }
  

